/* ----SLIDE MENU---- */
.slidenavperson {
    color: black;
    MAX-height: 99.9%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 60; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #F7F7F7; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    /* padding-top: 60px;*/
    transition: 0.5s;
    font-size: 14px;
}
.slidenavperson a {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    display: block;
    transition: 0.3s;
}
/* ----bouton de fermeture du slide----*/
.slidenavperson .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
h2{
    color: black;
    text-align: center;
}
#divpanier{
    padding: 5%;
}
.licarte{
    background-image: linear-gradient( #EEEFEA, whitesmoke );
    text-align: center;
    /* color: whitesmoke; */
    font-weight: bold;
    /* margin-bottom: 0; */
}
.listock{
    background-image: linear-gradient( whitesmoke,#f1f1f1 );
    margin-top: -8%;
    font-size: 12px;
    font-weight: bold;
    /* margin-bottom: 5; */
}
#imgtour{
    height: 12%;
    /* height: 20px;
    width: 20px; */
    /* float: left */
}
#tdli{
    width: 100%;
    word-wrap: break-word;
}
/* #divtour{
     float: right;
} */